page-categorythree {
    .back{
        background:url('../../assets/hhh.jpg');
        background-size:cover;
        background-attachment: fixed;
        margin:0 auto;
       
    }
    p{
        color:white;
        font-size:large;
    }
    .flex{
        display:flex;
        justify-content: center;
    }

  
   .pt{
            background-color:rgba(82, 49, 41, 0.74);
            color:white;
            font-size:xx-large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
             
    }
    ion-item#item{
        background-color:rgba(82, 49, 41, 0.74);
        width:100%;
        color:white;
        font-size:large;
    }
    .button{
        font-size:xx-large;
        background-color:rgba(82, 49, 41, 0.74);
    }

}
