page-categoryfive {
    .back{
        background:url('../../assets/s.jpg');
        background-size:cover;
        background-attachment: fixed;
        margin:0 auto;
          
    }
    ion-item{
        opacity: 0.5;
    }
   
   .pt{
    background-color:rgba(0, 0, 0, 0.603);
    color:white;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         
}
ion-item#item{
    background-color:rgba(0, 0, 0, 0.774);
    color:white;
    font-size:large;
}
.button{
    font-size:xx-large;
    background-color:rgba(0, 0, 0, 0.692);
}
.flex{
    display:flex;
    justify-content: center;
}
    
}
